{<<"name">>,<<"setup">>}.
{<<"version">>,<<"2.0.2">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"setup">>}.
{<<"maintainers">>,[<<"Ulf Wiger">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Generic setup application for Erlang-based systems">>}.
{<<"files">>,
 [<<"src/setup.app.src">>,<<"LICENSE">>,<<"Makefile">>,<<"README.md">>,
  <<"rebar.config">>,<<"rebar.config.script">>,<<"rebar.lock">>,
  <<"src/setup.erl">>,<<"src/setup_app.erl">>,<<"src/setup_gen.erl">>,
  <<"src/setup_lib.erl">>,<<"src/setup_srv.erl">>,<<"src/setup_sup.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/uwiger/setup">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
