{<<"name">>,<<"bear">>}.
{<<"version">>,<<"0.8.7">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"bear">>}.
{<<"maintainers">>,[<<"Joe Williams">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"A set of statistics functions for erlang">>}.
{<<"files">>,
 [<<"src/bear.app.src">>,<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/bear.erl">>]}.
{<<"licenses">>,[<<"Apache 2">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/folsom-project/bear">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
