{<<"app">>,<<"folsom">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Erlang based metrics system">>}.
{<<"files">>,
 [<<"src/folsom.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"include/folsom.hrl">>,<<"rebar.config">>,<<"rebar.config.script">>,
  <<"rebar.lock">>,<<"src/folsom.erl">>,<<"src/folsom_ets.erl">>,
  <<"src/folsom_ewma.erl">>,<<"src/folsom_meter_timer_server.erl">>,
  <<"src/folsom_metrics.erl">>,<<"src/folsom_metrics_counter.erl">>,
  <<"src/folsom_metrics_duration.erl">>,<<"src/folsom_metrics_gauge.erl">>,
  <<"src/folsom_metrics_histogram.erl">>,
  <<"src/folsom_metrics_histogram_ets.erl">>,
  <<"src/folsom_metrics_history.erl">>,<<"src/folsom_metrics_meter.erl">>,
  <<"src/folsom_metrics_meter_reader.erl">>,
  <<"src/folsom_metrics_spiral.erl">>,<<"src/folsom_sample.erl">>,
  <<"src/folsom_sample_exdec.erl">>,<<"src/folsom_sample_none.erl">>,
  <<"src/folsom_sample_slide.erl">>,<<"src/folsom_sample_slide_server.erl">>,
  <<"src/folsom_sample_slide_sorted.erl">>,
  <<"src/folsom_sample_slide_sup.erl">>,
  <<"src/folsom_sample_slide_uniform.erl">>,
  <<"src/folsom_sample_uniform.erl">>,<<"src/folsom_sup.erl">>,
  <<"src/folsom_utils.erl">>,<<"src/folsom_vm_metrics.erl">>]}.
{<<"licenses">>,[<<"Apache 2">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/folsom-project/folsom">>}]}.
{<<"name">>,<<"folsom">>}.
{<<"requirements">>,
 [{<<"bear">>,
   [{<<"app">>,<<"bear">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"0.8.7">>}]}]}.
{<<"version">>,<<"0.8.8">>}.
